#align-header{
display: flex;
align-items: center;
}

span{
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 0.3rem;
}

button{
  margin-right: 0.5rem;
  border: 0px;
  padding: 0px;
}
