<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte"
      >Controle de atestados - GARBO</mat-toolbar
    >
    <div [formGroup]="form" (ngSubmit)="query()">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Usuário"
          inputmode="numeric"
          formControlName="user"
          pattern="[0-9]*"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Senha"
          type="password"
          inputmode="numeric"
          formControlName="password"
          pattern="[0-9]*"
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          id="button-atestado"
          type="submit"
          name="atestado"
          mat-raised-button
        >
          LOGIN
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
