<mat-card>
  <mat-card-content>
    <mat-toolbar id="peso-fonte"
      >Atestados de hora - mat.: {{ searchListHour[0] }}</mat-toolbar
    >
    <table
      mat-table
      [dataSource]="dataSource$ | async"
      class="mat-elevation-z8"
    >
      <!-- Registration Column -->
      <ng-container matColumnDef="registration">
        <th mat-header-cell *matHeaderCellDef>Matrícula</th>
        <td mat-cell *matCellDef="let element">{{ element.registration }}</td>
      </ng-container>

      <!-- StartDay Column -->
      <ng-container matColumnDef="startDay">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">{{ element.startDay }}</td>
      </ng-container>
      <!-- startHour Column -->
      <ng-container matColumnDef="startHour">
        <th mat-header-cell *matHeaderCellDef>Hora de início</th>
        |
        <td mat-cell *matCellDef="let element">{{ element.startHour }}</td>
      </ng-container>
      <!-- endHour Column -->
      <ng-container matColumnDef="endHour">
        <th mat-header-cell *matHeaderCellDef>Hora de término</th>
        <td mat-cell *matCellDef="let element">{{ element.endHour }}</td>
      </ng-container>

      <ng-container matColumnDef="mode">
        <th mat-header-cell *matHeaderCellDef>Modo</th>
        <td mat-cell *matCellDef="let element">{{ element.mode }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="onUpdateCertificate(element.id)"
            ><mat-icon>edit</mat-icon></a
          >
          <a (click)="onDeleteCertificate(element.id)"
            ><mat-icon>delete</mat-icon></a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <!-- <p>{{ hours }}:{{minutes}}</p> -->
  <mat-card-actions>
    <button mat-raised-button (click)="acumulate()" id="button-atestado">Acumulado</button>
  </mat-card-actions>
</mat-card>
