a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: Montserrat;
  font-weight: 300;
  color: #94a3b8;
  padding-top: 3px;
  cursor: pointer;
}
mat-divider {
  border-top-width: 1px;
  border-color: #94a3b8;
}

h1 {
  text-align: center;
  letter-spacing: 1rem;
  color: #94a3b8;
}
h5 {
  font-family: Montserrat;
  margin: 25px 0px 10px 22px;
  font-weight: 500;
  color: #94a3b8;
  letter-spacing: 0.3rem;
}
h1 {
  font-weight: 300;
  font-family: Montserrat;
}

#align-list {
  display: flex;
  align-items: center;
  color: #94a3b8;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: rgba($color: #f5f4f4, $alpha: 0.05);
  padding: 10px;
}
.mat-icon {
  margin-right: 10px;
}
.search {
  margin: 0px 20px 20px 20px;
  background-color: rgba($color: #f5f4f4, $alpha: 0.05);
  padding: 0px 0px 20px 20px;
  button {
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 4px 62px 4px 62px;
    font-size: 0.8rem;
  }
}

.textLabel {
  width: 100%;
  font-family: Montserrat;
  color: #94a3b8;
  margin-top: 12px;
  margin-bottom: 3px;
}

input {
  width: 90%;
  height: 30px;
  text-align: center;
  color: #111111;
   border: none;
    background-color: rgba(rgb(255, 251, 251), $alpha: 0.65);
}
.select {
  width: 90%;
  height: 30px;
  font-family: Montserrat;
  color: #111111;
  margin-bottom: 3px;
  background-color: rgba(rgb(255, 251, 251), $alpha: 0.65);
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0%;
   border: none;
}
