<mat-nav-list>
  <div>
    <h1 class="mt-2">GARBO</h1>
  </div>
  <mat-divider></mat-divider>

  <h5 class="mt-4">OPÇÕES</h5>
  <div id="align-list">
    <mat-icon>calendar_month</mat-icon>
    <a (click)="onDay()" routerLinkActive="list-item-active">ATESTADO DE DIA</a>
  </div>

  <div id="align-list">
    <mat-icon>schedule</mat-icon
    ><a (click)="onHour()" routerLinkActive="list-item-active"
      >ATESTADO DE HORA</a
    >
  </div>
  <div id="align-list">
    <mat-icon>volunteer_activism</mat-icon>
    <a (click)="onDonation()" routerLinkActive="list-item-active"
      >ATESTADO DE DOAÇÃO</a
    >
  </div>
  <div id="align-list">
    <mat-icon>group</mat-icon>
    <a (click)="onListEmployees()" routerLinkActive="list-item-active"
      >FUNCIONÁRIOS</a
    >
  </div>
  <div id="align-list">
    <mat-icon>manage_accounts</mat-icon
    >
    <a (click)="onListUsers()" routerLinkActive="list-item-active">USUÁRIOS</a>
  </div>
  <h5 class="mt-4">CONSULTA</h5>
  <!-- <div class="search">
    <label class="textLabel" for="mat">Matrícula</label>
    <input type="text" [(ngModel)]="registrationSearch" id="mat" />
    <label class="textLabel" for="ano">Ano aquisitivo</label>
    <select
      id="ano"
      class="form-select select"
      aria-label="Ano aquisitivo"
      [(ngModel)]="yearSearch"
    >
      <option selected value="2023">2023</option>
      <option value="2024">2024</option>
      <option value="2025">2025</option>
      <option value="2026">2026</option>
      <option value="2027">2027</option>
      <option value="2028">2028</option>
      <option value="2029">2029</option>
      <option value="2030">2030</option>
    </select>
    <label class="textLabel" for="tipo">Tipo do atestado</label>
    <select
      id="tipo"
      class="form-select select"
      aria-label="Tipo do atestado"
      [(ngModel)]="typeSearch"
    >
      <option selected value="Atestado de dia">DIA</option>
      <option value="Atestado de hora">HORA</option>
      <option value="Atestado de doação">DOAÇÃO</option>
    </select>

    <label class="textLabel" for="modo">Modo do atestado</label>
    <select
      id="modo"
      class="form-select select"
      aria-label="Modo do atestado"
      [(ngModel)]="modeSearch"
    >
      <option selected value="Comparecimento">COMPARECIMENTO</option>
      <option value="Acompanhamento">ACOMPANHAMENTO</option>
    </select>

    <button
      type="button"
      class="btn btn-outline-secondary btn-sm"
      (click)="onSearch()"
    >
      Buscar
    </button>
  </div> -->
</mat-nav-list>
