<mat-nav-list>
  <div>
    <h1 class="mt-2">GARBO</h1>
  </div>
  <mat-divider></mat-divider>

  <h5 class="mt-4">OPÇÕES</h5>
  <div id="align-list">
    <mat-icon>calendar_month</mat-icon>
    <a (click)="onDay()" routerLinkActive="list-item-active">ATESTADO DE DIA</a>
  </div>

  <div id="align-list">
    <mat-icon>schedule</mat-icon
    ><a (click)="onHour()" routerLinkActive="list-item-active"
      >ATESTADO DE HORA</a
    >
  </div>
  <div id="align-list">
    <mat-icon>volunteer_activism</mat-icon>
    <a (click)="onDonation()" routerLinkActive="list-item-active"
      >ATESTADO DE DOAÇÃO</a
    >
  </div>
  <div id="align-list">
    <mat-icon>group</mat-icon>
    <a (click)="onListEmployees()" routerLinkActive="list-item-active"
      >FUNCIONÁRIOS</a
    >
  </div>
  <div id="align-list">
    <mat-icon
      ><span class="material-symbols-outlined">
        manage_accounts
      </span></mat-icon
    >
    <a (click)="onListUsers()" routerLinkActive="list-item-active">USUÁRIOS</a>
  </div>
  <h5 class="mt-4">CONSULTA</h5>
  <div>
    <form class="search">
      <label class="textLabel" for="mat">Matrícula</label>
      <input type="text" name="matricula" id="mat" />
      <label class="textLabel" for="ano">Ano aquisitivo</label>
      <input type="text" name="ano" id="ano" />
      <label class="textLabel" for="tipo">Tipo do atestado</label>
      <select class="form-select select" aria-label="Default select example">
        <option selected>Atestado de dia</option>
        <option value="dia">Atestado de dia</option>
        <option value="hora">Atestado de hora</option>
        <option value="doacao">Atestado de doação</option>
      </select>
      <label class="textLabel" for="tipo">Modo do atestado</label>
      <select class="form-select select" aria-label="Default select example">
        <option selected>Comparecimento</option>
        <option value="dia">Comparecimento</option>
        <option value="hora">Acompanhamento</option>
      </select>

      <button type="button" class="btn btn-outline-secondary btn-sm">
        Buscar
      </button>
    </form>
  </div>
</mat-nav-list>
