<mat-card>
    <mat-card-content>
      <mat-toolbar id="peso-fonte">Informe os parametros de busca</mat-toolbar>
      <div>
        <form>
            <mat-form-field class="full-width" [hideRequiredMarker]="true">
            <mat-label for="month">Mês</mat-label>
            <mat-select
              style="font-family: Montserrat"
              id="mes"
              class="select"
              aria-label="Mês do aniversário"
              placeholder="Mês"
              name="month"
              [(ngModel)]="monthBirthday"
            >
              <mat-option selected value="01">Janeiro</mat-option>
              <mat-option selected value="02">Fevereiro</mat-option>
              <mat-option selected value="03">Março</mat-option>
              <mat-option selected value="04">Abril</mat-option>
              <mat-option selected value="05">Maio</mat-option>
              <mat-option selected value="06">Junho</mat-option>
              <mat-option selected value="07">Julho</mat-option>
              <mat-option selected value="08">Agosto</mat-option>
              <mat-option selected value="09">Setembro</mat-option>
              <mat-option selected value="10">Outubro</mat-option>
              <mat-option selected value="11">Novembro</mat-option>
              <mat-option selected value="12">Dezembro</mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- <mat-card-actions> -->
          <div class="container">
            <button
              (click)="onBirthday(monthBirthday)"            
              id="button-atestado"
              name="atestado"
              mat-raised-button
            >
              Buscar
            </button>   
          </div>
          <!-- </mat-card-actions> -->
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  