<mat-drawer-container>
  <mat-drawer mode="side" opened="{{ isOpened }}">
    <mat-nav-list>
      <div>
        <h1 class="mt-2">GARBO</h1>
      </div>
      <mat-divider></mat-divider>

      <h5 class="mt-4">OPÇÕES</h5>
      <div id="align-list">
        <mat-icon>calendar_month</mat-icon>
        <a (click)="onDay(day)" routerLinkActive="list-item-active"
          >ATESTADO DE DIA</a
        >
      </div>

      <div id="align-list">
        <mat-icon>schedule</mat-icon
        ><a (click)="onHour(hour)" routerLinkActive="list-item-active"
          >ATESTADO DE HORA</a
        >
      </div>
      <div id="align-list">
        <mat-icon>volunteer_activism</mat-icon>
        <a (click)="onDonation(donation)" routerLinkActive="list-item-active"
          >ATESTADO DE DOAÇÃO</a
        >
      </div>
      <div id="align-list">
        <mat-icon>group</mat-icon>
        <a
          (click)="onListEmployees(employees)"
          routerLinkActive="list-item-active"
          >FUNCIONÁRIOS</a
        >
      </div>
      <div id="align-list">
        <mat-icon> manage_accounts </mat-icon>
        <a (click)="onListUsers(users)" routerLinkActive="list-item-active"
          >USUÁRIOS</a
        >
      </div>
      <h5 class="mt-4">CONSULTA</h5>
      <div class="search">
        <label class="textLabel" for="mat">Matrícula</label>
        <input type="text" [(ngModel)]="registrationSearch" id="mat" />
        <label class="textLabel" for="ano">Ano aquisitivo</label>
        <select
          id="ano"
          class="form-select select"
          aria-label="Ano aquisitivo"
          [(ngModel)]="yearSearch"
        >
          <option selected value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
        </select>
        <label class="textLabel" for="tipo">Tipo do atestado</label>
        <select
          id="tipo"
          class="form-select select"
          aria-label="Tipo do atestado"
          [(ngModel)]="typeSearch"
        >
          <option selected value="Atestado de dia">Dia</option>
          <option value="Atestado de hora">Hora</option>
          <option value="Atestado de doação">Doação</option>
        </select>

        <label class="textLabel" for="modo">Modo do atestado</label>
        <select
          id="modo"
          class="form-select select"
          aria-label="Modo do atestado"
          [(ngModel)]="modeSearch"
        >
          <option selected value="Comparecimento">Comparecimento</option>
          <option value="Acompanhamento">Acompanhamento</option>
        </select>

        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          (click)="onSearch()"
        >
          Buscar
        </button>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (sidenav)="onOpened()"></app-header>
    <div class="background">
      <div class="title">
        <span>{{ titleName }}</span>
      </div>

      <div class="main" *ngIf="typeName === ''">
        <app-day-create style="width: 50%"></app-day-create>
      </div>
      <div class="main" *ngIf="typeName === 'dayCreate'">
        <app-day-create style="width: 50%"></app-day-create>
      </div>

      <div class="main" *ngIf="typeName === 'dayUpdate'">
        <app-day-update style="width: 50%"></app-day-update>
      </div>
      <div class="main" *ngIf="typeName === 'dayList'">
        <app-day-list style="width: 50%"></app-day-list>
      </div>

      <div class="main" *ngIf="typeName === 'hourCreate'">
        <app-hour-create style="width: 50%"></app-hour-create>
      </div>
      <div class="main" *ngIf="typeName === 'hourUpdate'">
        <app-hour-update style="width: 50%"></app-hour-update>
      </div>
      <div class="main" *ngIf="typeName === 'hourList'">
        <app-hour-list style="width: 50%"></app-hour-list>
      </div>

      <div class="main" *ngIf="typeName === 'donationCreate'">
        <app-donation-create style="width: 50%"></app-donation-create>
      </div>
      <div class="main" *ngIf="typeName === 'donationUpdate'">
        <app-donation-update style="width: 50%"></app-donation-update>
      </div>
      <div class="main" *ngIf="typeName === 'donationList'">
        <app-donation-list style="width: 50%"></app-donation-list>
      </div>

      <div class="main" *ngIf="typeName === 'employeeCreate'">
        <app-employees-create style="width: 50%"></app-employees-create>
      </div>
      <div class="main" *ngIf="typeName === 'employeeUpdate'">
        <app-employees-update style="width: 50%"></app-employees-update>
      </div>
      <div class="main" *ngIf="typeName === 'employeeList'">
        <app-employees-list
          (type)="onType($event)"
          style="width: 50%"
        ></app-employees-list>
      </div>

      <div class="main" *ngIf="typeName === 'userCreate'">
        <app-user-create style="width: 50%"></app-user-create>
      </div>
      <div class="main" *ngIf="typeName === 'userUpdate'">
        <app-user-update style="width: 50%"></app-user-update>
      </div>
      <div class="main" *ngIf="typeName === 'userList'">
        <app-user-list
          (type)="onType($event)"
          style="width: 50%"
        ></app-user-list>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
