
<mat-drawer-container>
  <mat-drawer mode="side" opened={{isOpened}}>
    <app-sidenav
    (type)="onType($event)">
    (registration)="onRegistration($event)">
    (year)="onYear($event)">
    (mode)="onMode($event)">
    (type)="onTypeSearch($event)">

  </app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (sidenav)="onOpened()"></app-header>
    <div class="background">
      <div class="title">
        <span>{{ titleName }}</span>
       </div>

      <div class="main" *ngIf="isDay; else hour">
        <app-day-create style="width: 50%"></app-day-create>
      </div>

      <ng-template #hour>
        <div class="main" *ngIf="isHour; else donation">
          <app-hour-create style="width: 50%"></app-hour-create>
        </div>
      </ng-template>

      <ng-template #donation>
        <div class="main" *ngIf="isDonation; else employees">
          <app-donation-create style="width: 50%"></app-donation-create>
        </div>
      </ng-template>

      <ng-template #employees>
        <div class="main" *ngIf="isEmployees; else users">
          <app-employees-list style="width: 50%"></app-employees-list>
        </div>
      </ng-template>

      <ng-template #users>
        <div class="main" *ngIf="users; else search">
          <app-user-list style="width: 50%"></app-user-list>
        </div>
      </ng-template>

      <ng-template #search>
        <div class="main">
          <app-user-list style="width: 50%"></app-user-list>
        </div>
      </ng-template>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
