<mat-drawer-container>
  <mat-drawer mode="side" opened="{{ isOpened }}">
    <app-sidenav
      (type)="onType($event)"
      (typeCertificate)="onTypeCertificate($event)"
    ></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (sidenav)="onOpened()"></app-header>
    <div class="background">
      <div class="title">
        <span>{{ titleName }}</span>
      </div>

      <div class="main" *ngIf="this.menuName.dayCreate">
        <app-day-create style="width: 50%"></app-day-create>
      </div>
      <div class="main" *ngIf="this.menuName.dayUpdate">
        <app-day-update style="width: 50%"></app-day-update>
      </div>
      <div class="main" *ngIf="this.menuName.dayList">
        <app-day-list style="width: 50%"></app-day-list>
      </div>
      <div class="main" *ngIf="this.menuName.hourCreate">
        <app-hour-create style="width: 50%"></app-hour-create>
      </div>
      <div class="main" *ngIf="this.menuName.hourUpdate">
        <app-hour-update style="width: 50%"></app-hour-update>
      </div>
      <div class="main" *ngIf="this.menuName.hourList">
        <app-hour-list style="width: 50%"></app-hour-list>
      </div>


      <!-- <ng-template #searchDay>
        <div
          class="main"
          *ngIf="
            isSearch && typeCertificate === 'Atestado de dia';
            else searchHour
          "
        >
          <app-day-list style="width: 50%"></app-day-list>
        </div>
      </ng-template>
      <ng-template #searchHour>
        <div
          class="main"
          *ngIf="
            isSearch && typeCertificate === 'Atestado de hora';
            else searchDonation
          "
        >
          <app-hour-list style="width: 50%"></app-hour-list>
        </div>
      </ng-template>
      <ng-template #searchDonation>
        <div
          class="main"
          *ngIf="isSearch && typeCertificate === 'Atestado de doação'"
        >
          <app-donation-list style="width: 50%"></app-donation-list>
        </div>
      </ng-template>

      <div class="main" *ngIf="isDonation">
        <app-donation-list style="width: 50%"></app-donation-list>
      </div> -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>
