<mat-nav-list>
  <div>
    <h1 class="mt-2">GARBO</h1>
  </div>
  <mat-divider></mat-divider>

  <h5 class="mt-4">OPÇÕES</h5>
  <div id="align-list">
    <mat-icon>calendar_month</mat-icon>
    <a routerLink="/" routerLinkActive="list-item-active">ATESTADO DE DIA</a>
  </div>

  <div id="align-list">
    <mat-icon>schedule</mat-icon
    ><a routerLink="/home" routerLinkActive="list-item-active"
      >ATESTADO DE HORA</a
    >
  </div>
  <div id="align-list">
    <mat-icon>volunteer_activism</mat-icon>
    <a routerLink="/home" routerLinkActive="list-item-active"
      >ATESTADO DE DOAÇÃO</a
    >
  </div>
</mat-nav-list>
